/* ==========================================
   LOGIN PAGE
========================================== */

body{
    background:#f5f7fb;
}

.left-panel{

    background:linear-gradient(135deg,#0d6efd,#084298);

    min-height:100vh;

}

.left-panel h2{

    font-size:2.7rem;

    font-weight:700;

}

.left-panel p{

    color:rgba(255,255,255,.85);

}

.feature-list p{

    margin-bottom:18px;

    font-size:1.05rem;

}

.login-card{

    width:100%;

    max-width:480px;

    background:#fff;

    border-radius:18px;

    padding:45px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.login-card h2{

    font-weight:700;

}

.input-group-text{

    background:#fff;

}

.login-card .btn{

    height:48px;

}